@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="mdui-row">
        <div class="mdui-col-md-9">
            Hello
            @RenderBody()
        </div>
        <div class="mdui-col-md-3">
            Hello
            <partial name="./_ManageNav" />
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
