@page "/Profile/Setting/DeletePerson"
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "删除全部账户数据";
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
    Layout = "_Layout.cshtml";
}

<h4>@ViewData["Title"]</h4>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong class="mdui-text-color-red">警告！ 这将会删除您的全部账户资料，将没有恢复的机会，请确定您不是误操作</strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <br />
        }
        <button class="mdui-btn mdui-color-red mdui-btn-raised" type="submit">删除并彻底关闭我的账户</button>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}