@using Microsoft.AspNetCore.Identity
@using BangumiProjectDBServices.Models
@using BangumiProjectDBServices.PageModels
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    Common common = (Common)ViewData[nameof(Common)];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lilys.moe</title>
</head>
<body style="background-image:url(/Image/Back.JPG);font-size:14px;">
    <style>
        a:link {
            color: blue;
            font-weight:900;
            text-decoration: none;
        }
        a:hover{color:deeppink}
    </style>
    <center>
        <table style="width:1024px;">
            @* Logo *@
            <tr>
                <td colspan="2">
                    <img src="~/Image/dlbn4a_pro.gif" />
                    <img src="~/Image/banner.gif" />
                </td>
            </tr>
            @* 顶部菜单栏 *@
            <tr>
                <td style="background-color:cyan;" colspan="2">
                    <partial name="MenuBar" model="Model" />
                </td>
            </tr>
            @* 这里显示的就是内容了 *@
            <tr>
                <td colspan="2"><hr /><hr /></td>
            </tr>
            <tr>
                <td style="background-color:azure;" valign="top">
                    <div style="width:800px;padding:10px;">
                        @RenderBody()
                    </div>
                </td>
                <td style="background-color:orange;" valign="top">
                    <div style="width:224px;">
                        <partial name="Cebian" model="common" />
                    </div>
                </td>
            </tr>
            @* 这里显示的就是页面下部了 *@
            <tr>
                <td colspan="2"><hr /><hr /></td>
            </tr>
            <tr>
                <td style="background-color:gainsboro;" colspan="2">
                    <partial name="Footer" />
                </td>
            </tr>
        </table>
    </center>
    @RenderSection("Scripts", required: false)
</body>
</html>
