@using BangumiProjectDBServices.PageModels
@model Common

<fieldset>
    <legend>搜索</legend>
    <div>
        <p style="font-size:14px;">搜索你想要的数据</p>
        <form method="get">
            <input type="text" name="keyword" style="width:130px;" />
            <input type="submit" value="搜索" />
        </form>
    </div>
</fieldset>

<br />

@if (Model.IsSignIn)
{
    <fieldset>
        <legend>用户操作</legend>
        <div>
            <p>用户信息/资料</p>
            <ul>
                <li>消息<br /><span style="color:red;">(12条新消息)</span></li>
                <li>公共留言板<br /><span style="color:red;">(有新留言)</span></li>
                <li>个人资料页面</li>
                <li><a href="/Profile/Setting">个人信息</a></li>
                <li><a href="#">普通模式</a>/<a href="#">百合模式</a><br /><span style="color:red;">（当前：百合模式)</span></li>
                @if (Model.YURI_TYPE >= Final.YURI_TYPE.Yuri_Yuri2)
                {
                    <li>上传文件</li>
                    <li>文件列表</li>
                }
                <li><a asp-area="Identity" asp-page="/Account/Logout">退出登录</a></li>
                <li>帮助？</li>
            </ul>

            @if (Model.YURI_TYPE >= Final.YURI_TYPE.Yuri_Girl)
            {
                <p>网站数据管理</p>
                <ul>
                    <li><a asp-route="@Final.Route_Bangumi_Create_POST">添加动画数据</a></li>
                    <li>编辑动画数据</li>
                </ul>
            }

            <p>追番管理</p>
            <ul>
                <li>正在看的<span>(19)</span></li>
                <li>看完的<span>(30)</span></li>
                <li>完整列表<span>(49)</span></li>
            </ul>


            @if (Model.YURI_TYPE >= Final.YURI_TYPE.Yuri_Admin)
            {
                <p>管理员</p>
                <ul>
                    @{
                        string item = string.Empty;
                        if (WebSiteSetting.IsWebSiteOpen)
                        {
                            item = "开启中";
                        }
                        else
                        {
                            item = "关闭中";
                        }
                    }
                    <li><a asp-route="WEBSITECLOSE">网站开关</a><span style="color:red;">（@item）</span></li>
                    <li>注册用户管理<span style="color:red;">(208人)</span></li>
                    <li>爬虫管理<span style="color:red;">(开|2344个页面|30分钟)</span></li>
                </ul>
            }

        </div>
    </fieldset>
    <br />
}

    <img src="~/Image/banner.gif" />


