
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer>
    
    <div>
        <p>
            <a asp-route="Home_About">关于</a>
        </p>
    </div>
    <div>
        <p style="text-align:right;">
            2017-2019年 lilys.moe
        </p>
        
    </div>
</footer>