@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@using BangumiProjectDBServices.PageModels.Core
@using BangumiProjectDBServices.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@model BaseModel

<table border="1" style="width:100%;text-align:center;">
    <tr>
        <td><a asp-route="@Final.Route_Home_Index">首页</a></td>
        <td>动画</td>
        <td>新番</td>
        <td>文件</td>
        @if (Model.IsSignIn)
        {
            <td>已经登陆</td>
            <td>@UserManager.GetUserName(User)</td>
        }
        else
        {
            <td><a asp-area="Identity" asp-page="/Account/Login">登录</a></td>
            <td><a asp-area="Identity" asp-page="/Account/Register">注册</a></td>
        }

    </tr>
</table>