@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@* 是否已经登陆, 用户名（Username） *@
@model Tuple<bool, string>

<div class="mdui-fab-wrapper" mdui-fab="{trigger: 'click'}" id="exampleFab">
    @if (Model.Item1)
    {
        //这里要显示已登录的用户图片
        <a href="javascript:;" class="mdui-fab mdui-ripple mdui-color-theme-accent" mdui-tooltip="{content:'@Model.Item2',position:'left'}"><img src="~/images/6c573befgw1fabxbznz9sj20qo0xcdk4.jpg" class="mdui-img-fluid mdui-img-circle" /></a>
        <div class="mdui-fab-dial">
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-pink" mdui-tooltip="{content:'文件上传',position:'left'}"><i class="mdui-icon material-icons">backup</i></button>
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-red" mdui-tooltip="{content:'我的追番',position:'left'}"><i class="mdui-icon material-icons">bookmark</i></button>
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-orange"><i class="mdui-icon material-icons">access_alarms</i></button>
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-blue"><i class="mdui-icon material-icons">touch_app</i></button>
        </div>
    }
    else
    {
        //这里要加一个未登录的用户图片
        <a href="javascript:;" class="mdui-fab mdui-ripple mdui-color-theme-accent" mdui-tooltip="{content:'未登录',position:'left'}"><img src="~/images/6c573befgw1fabxbznz9sj20qo0xcdk4.jpg" class="mdui-img-fluid mdui-img-circle" /></a>
        <div class="mdui-fab-dial">
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-orange"><i class="mdui-icon material-icons">access_alarms</i></button>
            <button class="mdui-fab mdui-fab-mini mdui-ripple mdui-color-blue"><i class="mdui-icon material-icons">touch_app</i></button>
        </div>
    }
</div>