@{
    ViewData["Title"] = "关于Lilys.moe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>
<p>

    这个应用是在很久很久以前创建的。<br />
    我呢，有个习惯。就是记录下看过的动画<br />
    这个习惯从2013年持续到2017年，4年时间。<br />
    我把我所有看过的动画全部记录到一个文档中了。<br />
    记录，整理……<br />
    所以我就想着，能不能写一个应用来记录我的这些动画的信息呢？<br />
    所以我就开始写这个应用了<br />
    一开始嘛，总会有一些困难的。<br />
    从2017年开始写的，但是我又将它推翻重写数次<br />
    从一开始的使用原生的JSP到Springboot。再到现在的NetCore<br />
    现在我决定了，就是C#了，不变了，也不再从头开始写了，即便代码再糟糕<br />
    所以这个应用正式的版本会在2019年年底写出来。<br />
    会包含很多功能，不过核心功能就是动画的管理了，这也是我写这个应用的目的<br />
    替代我的原始的文档管理方法<br />
    <br />
    <br />
    以上，就是关于这个应用的描述<br />
    <br />
    <br />
    <h3>Q And A</h3>
    这个应用你会维护多久？<br />
    会长期维护的，但因为还不是正式的，或者说稳定的版本，所以会更新的比较频繁。<br />
    硬要说一个时间的话……大概是我对动画失去兴趣，不再需要记录什么东西的时候吧。<br />
    现在的话，兴趣满满，并已经持续超过15年了，目前的趋势未来很难完全失去兴趣<br />
    <br />
    <br />
    如果我想注册并使用你的应用，会不会有信息安全问题？<br />
    不会的，密码使用了加盐不可逆哈希算法，除了你，别人不会知道密码，对于其他信息，我并没有什么兴趣。<br />
    我也可以保证，不会出现信息泄露，我也不会无聊的偷看之类的。<br />
    不过应用目前处于不稳定阶段，数据库信息可能会丢失。还请注意。（我会努力不丢失数据库数据，不过万一呢，对吧）<br />
    <br />
    <br />
    我觉得不错，但是没有我想要的功能怎么办？<br />
    两个办法。<br />
    本应用是开源应用，如果你会C#，可以写新功能啊<br />
    不会也没有关系，有意见提给我嘛。尽量满足的<br />
    <br />
    <br />
    我没问题了<br />
    那么还有其他人有问题吗？<br />
    <br />
    <br />

</p>

<form method="post">
    <textarea name="wenti" id="wenti"></textarea><br />
    <button type="submit">问这个问题</button>
</form>




