@using BangumiProject.Process.PageModels
@model Tuple<AnimeInfoModel>
@{
    ViewData["Title"] = "AAA";
    var title = ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AAA</h1>
<div>
    @Model.Item1.Anime.AnimeName<br/>
    @Model.Item1.Email
</div>
